<ol id="keikaku-todo-list">
  {{#each tasks}}
  {{> modules/keikaku/templates/todo-list-item.hbs }}
  {{/each}}
</ol>

<div class="flex0">
  <button class="todo-new">
    <i class="fas fa-plus"></i> New Task
  </button>
</div>